/* Utility selector  */

:root {
    --fb-background : #083B4C;
    --fb-primary : #1389B2;
    --fb-multiple-3 : #0CD6A1;
    --fb-multiple-5 : #FFD166;
    --fb-multiple-15 : #F0466F;
}

h1 {
    transition-duration:1s ;
}

/* Background-Color  */

body {
    background-color: var(--fb-background);
}

.my_baground_fizz {
    background-color: var(--fb-multiple-3);
}
.my_baground_buzz {
    background-color: var(--fb-multiple-5);
}
.my_baground_fizzBuzz {
    background-color: var(--fb-multiple-15);
    animation-name: tilt-shaking;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    
}
.my_baground_standard {
    background-color: var(--fb-primary);;
}


/* Single Box  */

.box_fizz > .card{
    aspect-ratio: 1 / 1;
}
.box_fizz > .card:hover{
    animation: tilt infinite 0.1s;
}


/* ANIMATION */

h1:hover {
    transform: scale(2);
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
@keyframes tilt {
    0% { transform: translateX(0px); }
    25% { transform: translateX(2px); }
    50% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    100% { transform: translateX(0px);  }
}